.btn-default { 
    min-height: 44px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $navy;
    background-color: $navy;
    color: $white;
    cursor: pointer;
    font-weight: bold;

    &:hover { 
        color: $navy;
        background-color: $white;
    }

}