.btn-default { 
    min-height: 44px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $seafoam;
    background-color: $seafoam;
    color: $navy;
    cursor: pointer;
    font-weight: bold;

}